body{
    margin: 0;
    padding: 0;
}

.fondo{
    background-image: url('../img/background.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.volver a{
    text-decoration: none;
    display: inline-block;
    width: 50%;
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Concert One', cursive;
    font-size: 5vh;
    color: rgb(0, 0, 0);
}
.volver a:hover{
    background-color: rgba(197, 17, 17, 0.3);
}
.volver{
    text-align: center;
    padding: 5vh;
}
.Contenedor{
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}
h2{
    text-align: center;
    display: block;
}

p{
    display: block;
    text-align: center;
    font-size: 25px;
    margin: 0;

}
input{
    width: 25vh;
    display: block;
    margin: auto;
    font-family: 'Concert One', cursive;
    font-size: 18px;
}
button{
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    color: #000000;
    background-color: #ffffffcc;
    border-radius: 0px;
    border: 0.1px solid #000000;
    font-family: 'Concert One', cursive;
}
button:hover{
    background-color: rgba(197, 17, 17, 0.5);
}
form{
    display: block;
    font-family: 'Concert One', cursive;
}
.respuesta{
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Concert One', cursive;
    display:block;
    font-size: 20px;
    margin-top: 5px;
}